.container {
  min-height: 100vh;
  padding: 0 0.5rem;

  max-width: 1200px;
  text-align: center;
}

.main {
  padding: 5rem 0;
}
.main label {
  display: block;
  margin: 10px 0;
}
.main label input {
  margin-left: 5px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.main label input:focus {
  outline: none;
}
.main button {
  background-color: black;
  color: white;
  border: none;
  padding: 7px 10px;
}
